.book-area {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.book {
  display: flex;
  align-items: center;
  cursor: pointer;
  perspective:1000px;
  animation: float 3s ease-in-out infinite;
}

.book:hover,
.book:hover .page,
.left-page,
.right-page {
  box-shadow: 1px 5px 5px #ada981; /* Shadow grows on hover */
}

.book:hover .cover {
  transform: rotateX(10deg) rotateY(-180deg);
  
}
.book:hover .page {
  transform: rotateX(10deg) rotateY(-180deg);
  z-index: 2;
}

.cover, .back-cover {
  height:640px;
  width: 500px;
  background: #3b2315;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px gray;
  transform: rotateX(10deg);
  transform-origin: center left;
}

.cover {
  z-index: 2;
  transition: all 1s;
}

.back-cover{
  z-index: -4;
}

.page, .left-page, .right-page{
  height: 600px;
  width: 490px;
  background:#e9e6c4;
  color:black;
  position: absolute;
  border-radius: 1px 10px 10px 2px;
  transform: rotateX(10deg);
  transform-origin: center left;
}

.right-page {
  left:0;
  overflow: visible;

}

.page {
  z-index:-1;
}

.left-page{
  z-index:0;
}

#survivorGrid1 {
  transform: scaleX(-1);
}

/* #survivorGrid1 .survivor img {
  transform: scaleX(-1); /* Reverse the image back to normal
} 
*/

#survivorGrid1 .survivor:hover img {
  transform: translateY(-10px); /* Apply hover effect with flipped orientation */
}

.page:nth-child(2){
  transition-duration: 1.6s;
}

.page:nth-child(3){
  transition-duration: 1.3s;
}

.page:nth-child(4){
  transition-duration: 1.2s;
}

.page:nth-child(5){
  transition-duration: 0.9s;
}

.book:hover .page:nth-child(2){
  transition-duration:1.5s;
}
.book:hover .page:nth-child(3){
  transition-duration: 1.2s;
}
.book:hover .page:nth-child(4){
  transition-duration:1s;
}
.book:hover .page:nth-child(6){
  transition-duration: 0.8s;
} 

.button-container {
  z-index: 1;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }
}
