
/* Contact form design*/
.contact-form {
    padding: 30px; 
    border-radius: 15px;
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, 0.3), 
        0 4px 30px rgba(0, 0, 0, 0.2), 
        0 0 15px rgba(0, 123, 255, 0.7); 
    background: #3a3f47;
    max-width: 500px; /* Increase max-width */
    width: 100%;
    border: 3px solid #000; /* Optional: Black border */
    margin: 20px auto; /
  }  


  .form-group {
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.select-selected {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 99;
  width: 100%;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #ddd;
}

.select-hide {
  display: none;
}
