/* Universal header and footer design */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Fixed height */
  padding: 0 40px; /* Adjusted padding to match fixed height */
  background: linear-gradient(135deg, #2e3238, #1a1a1a); /* Dark gradient with contrast */
  border-radius: 10px; /* Subtle rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Deep shadow for modern depth */
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  color: #f1f1f1;
  transition: all 0.3s ease; /* Smooth transition */
}




footer {
  padding: 30px 0;
  background: linear-gradient(135deg, #292b2f, #1a1a1a); /* Sleek dark gradient */
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #444; /* Thin top border for separation */
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.3); /* Light shadow for depth */
  transition: all 0.3s ease;
}

/* Universal text formatting */
p {
  font-size: 16pt;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
    background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

/* Custom cursor */
html {
  cursor: url('assets/Cursor.png') 10 10, auto; /* Adjust hotspot position */
}

/* Universal heading design */
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Adds a shadow effect behind the text */

}

h2 {
  font-size: 20px;
  margin-top: 30px;
  color: white; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Adds a shadow effect behind the text */

}

/* Universal button design */
.button {
  margin: 5px;
  padding: 15px 30px; /* Increased padding for a larger button */
  background-color: #007bff;
  border: none;
  border-radius: 50px; /* Pill-shaped */
  cursor: pointer;
  font-size: 16px; /* Increased font size for better visibility */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Smooth transitions */
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly grow on hover */
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5); /* Glow effect on hover */
}

.button:active {
  transform: scale(0.95); /* Slightly shrink when clicked */
}

.button:disabled {
  background-color: #007bff; /* Keep the same blue color when disabled */
  opacity: 0.6; /* Slightly transparent for disabled state */
  cursor: not-allowed; /* Change cursor for disabled state */
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  margin-top: 20px; /* Space above the buttons */
}


